* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px){
    font-size: 87.5%;
  }
}

body {
  background: #000000;
  color: #ffff;
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: sans-serif;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6, strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

#root {
  display: flex;
  margin-top: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lightBulb {
  margin-top: 24px;
  height: 50vh;
  max-width: 450px;
  padding: 1rem;
}

/* background-color: #33cc95; */
/* background: #E52E4D; */
.click-btn {
    margin-top: 24px;
    font-size: 80px;
    width: 1em;
    height: 1em;
    -webkit-appearance: none;
    appearance: none;
    background-color: #33cc95;
    color: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.1s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

.click-btn svg {
  pointer-events: none;
}

.click-btn:focus {
  outline: 0;
}
.click-btn:before, .click-btn:after {
  position: absolute;
  content: '';
  display: block;
  width: 160%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.2s;
  background-repeat: no-repeat;
}
.click-btn:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #e25822 20%, transparent 20%), radial-gradient(circle, transparent 20%, #e25822 20%, transparent 30%), radial-gradient(circle, #e25822 20%, transparent 20%), radial-gradient(circle, #e25822 20%, transparent 20%), radial-gradient(circle, transparent 10%, #e25822 15%, transparent 20%), radial-gradient(circle, #e25822 20%, transparent 20%), radial-gradient(circle, #e25822 20%, transparent 20%), radial-gradient(circle, #e25822 20%, transparent 20%), radial-gradient(circle, #e25822 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.click-btn:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #e25822 20%, transparent 20%), radial-gradient(circle, #e25822 20%, transparent 20%), radial-gradient(circle, transparent 10%, #e25822 15%, transparent 20%), radial-gradient(circle, #e25822 20%, transparent 20%), radial-gradient(circle, #e25822 20%, transparent 20%), radial-gradient(circle, #e25822 20%, transparent 20%), radial-gradient(circle, #e25822 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.click-btn:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.click-btn.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.2s forwards;
}
.click-btn.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.2s forwards;
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
 }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
 }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
 }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
 }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
 }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
 }
}

#gameStatus {
  margin-top: 24px;
}

#gameStatus strong {
  font-weight: bold;
  line-height: 2rem;
}